.activeUser {
    background-color: white;
}

.wrapper {
    display: flex;
}

.wrapperItem {
    display: block;
}

.userDetailsLogin {
    color: red;
}

.wrapperItemDetails {
    margin-left: 40px;
}

.wrapperItemDetails div {
    margin-bottom: 10px;
}

.wrapperItemDetails img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.wrapperItemDetails a {
    word-break: break-all;
}

.paddingUser {
    padding-right: 10px;
}

.listUsers li {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 12px 10px 12px;
}

.listUsers li:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;
}