.header {
    grid-area: h;
    background: cyan;
    display: flex;
    width: 100%;
}

.header-item {
    display: flex;
    width: 100%;
}

.header img {
    width: 150px;
    object-fit: cover;
}

.login-block {
    float: right;
}