.nav {
    grid-area: n;
    background: rgb(110, 110, 110);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu__item a {
    color: white;
    text-decoration: none;
}

.nav-menu__item a:hover {
    color: rgb(255, 255, 0, 0.5);
}

.nav-menu__item a.active {
    color: gold;
}

.nav-menu__sidebar {

}

.nav-menu__sidebar__friends {

}