.app-wrapper {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.app-wrapper__container {
    display: grid;

    grid-template-areas:
    "h h h"
    "n c c";
    grid-template-rows: 130px 1fr;
    grid-template-columns: 3fr 9fr;

    max-width: 1340px;
    margin: 20px 20px 20px 20px;

    border-radius: 20px;
}

.app-wrapper__container__content {
    grid-area: c;
    background: rgb(132, 168, 214);
    margin-left: 20px;
    border-radius: 20px;
    padding: 20px;
}