.chat-img__local {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
}

.chat {
    text-align: center;
}

.messages {
    background: yellow;
    overflow-y: auto;
    height: 600px;
}

.messageForm {
    background: orange;
}